In [1]:
import gensim.downloader as api
# loading a large model trained on google news(about 100 billion words)
wv = api.load('word2vec-google-news-300')

In [2]:
wv.most_similar('good')

[('great', 0.7291509509086609),
 ('bad', 0.7190050482749939),
 ('terrific', 0.688911497592926),
 ('decent', 0.6837348937988281),
 ('nice', 0.6836092472076416),
 ('excellent', 0.6442928910255432),
 ('fantastic', 0.6407778263092041),
 ('better', 0.6120728850364685),
 ('solid', 0.5806034803390503),
 ('lousy', 0.576420247554779)]

In [3]:
wv.similarity('profit','gain')

0.28772825

In [4]:
import tensorflow as tf
print(tf.config.list_physical_devices())

WARNING:tensorflow:From C:\Users\Nagasai\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU')]

In [5]:
import numpy as np
import pandas as pd

In [6]:
df= pd.read_csv("D:\\Big Downloads\\archive (2)\\fake_train.csv")
df

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [7]:
df.drop(columns = ['id'],inplace=True)
df

,title,author,text,label
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...
20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [8]:
df.author.value_counts()

author
Pam Key                                      243
admin                                        193
Jerome Hudson                                166
Charlie Spiering                             141
John Hayward                                 140
                                            ...
Jeremy R. Hammond                              1
Vic Bishop                                     1
Douglas Martin                                 1
Najim Rahim and Fahim Abed                     1
Michael J. de la Merced and Rachel Abrams      1
Name: count, Length: 4201, dtype: int64

In [9]:
#checking the robustness of data
df.label.value_counts()

label
1    10413
0    10387
Name: count, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.author = le.fit_transform(df.author)

In [11]:
import spacy

#loading en_web_sm
nlp = spacy.load('en_core_web_sm')

In [12]:
import re

In [13]:
def preprocess_text(text):
    # Remove non-alphabetic characters
    #text = re.sub(r'[^a-zA-Z]', ' ', text)
    doc = nlp(text)
    tokens = []
    # Generating tokens
    for word in doc:
        if not word.is_stop and not word.is_punct:
            tokens.append(word.lemma_)
    if tokens:
        return wv.get_mean_vector(tokens)#sentence embedding
    else:
        return None

In [14]:
df['title'] = df['title'].astype(str)
df['title'] = df['title'].apply(preprocess_text)

In [15]:
df.isnull().sum()

title      4
author     0
text      39
label      0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df['text'] = df['text'].astype(str)
df['text'] = df['text'].apply(preprocess_text)

In [234]:
df.head()

,title,text,label
0,"[0.0012090177, 0.020686446, -0.05235688, 0.024...","[0.011799483, 0.0051019294, -0.0034669398, 0.0...",1
1,"[0.015651403, 0.0159085, -0.003191591, 0.03807...","[0.019954866, 0.013497949, 0.0011899865, 0.033...",0
2,"[0.11566126, 0.005249493, 0.061008282, -0.0377...","[0.01097046, 0.010704931, 0.009920182, 0.02916...",1
3,"[0.040558804, -0.0038705126, -0.01513851, 0.02...","[0.011734712, 0.003914555, 0.011538548, 0.0272...",1
4,"[0.016219957, -0.0026730283, 0.014577476, 0.01...","[0.010146698, -0.0003742455, 0.0072778, 0.0183...",1

In [162]:
df.dropna(inplace=True)

In [141]:
df = df.drop('author',axis=1)

In [235]:
df.isnull().sum()

title    0
text     0
label    0
dtype: int64

In [240]:
X = df.iloc[:,:1].values
y = df.iloc[:,-1].values

In [241]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,stratify=df.label,random_state=202)

In [242]:
print(f'X_train shape : {X_train.shape}')
print(f'X_test shape : {X_test.shape}')

X_train shape : (16604, 1)
X_test shape : (4152, 1)

In [248]:
X_train.shape

(16604, 300)

In [247]:
import numpy as np

X_train = np.array([inner_array.flatten() for inner_array in X_train.flatten()])
X_test = np.array([inner_array.flatten() for inner_array in X_test.flatten()])

In [249]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import classification_report

# Gradient Boosting Classifier
classifier1 = GradientBoostingClassifier()
classifier1.fit(X_train, y_train)
y_pred_gb = classifier1.predict(X_test)
print("Gradient Boosting Classifier:")
print(classification_report(y_test, y_pred_gb))

# Random Forest Classifier
classifier2 = RandomForestClassifier()
classifier2.fit(X_train, y_train)
y_pred_rf = classifier2.predict(X_test)
print("\nRandom Forest Classifier:")
print(classification_report(y_test, y_pred_rf))

Gradient Boosting Classifier:
              precision    recall  f1-score   support

           0       0.92      0.86      0.89      2078
           1       0.87      0.93      0.90      2074

    accuracy                           0.89      4152
   macro avg       0.90      0.89      0.89      4152
weighted avg       0.90      0.89      0.89      4152


Random Forest Classifier:
              precision    recall  f1-score   support

           0       0.95      0.81      0.88      2078
           1       0.84      0.96      0.89      2074

    accuracy                           0.88      4152
   macro avg       0.89      0.88      0.88      4152
weighted avg       0.89      0.88      0.88      4152

In [251]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

# Support Vector Classifier
classifier3 = SVC(kernel='rbf')
classifier3.fit(X_train, y_train)
y_pred_svc = classifier3.predict(X_test)

# K-Nearest Neighbors Classifier
classifier4 = KNeighborsClassifier()
classifier4.fit(X_train, y_train)
y_pred_knn = classifier4.predict(X_test)

# Multinomial Naive Bayes Classifier
classifier5 = GaussianNB()
classifier5.fit(X_train, y_train)
y_pred_nb = classifier5.predict(X_test)

# Print classification reports for all classifiers
print("Support Vector Classifier:")
print(classification_report(y_test, y_pred_svc))

print("\nK-Nearest Neighbors Classifier:")
print(classification_report(y_test, y_pred_knn))

print("\nMultinomial Naive Bayes Classifier:")
print(classification_report(y_test, y_pred_nb))

Support Vector Classifier:
              precision    recall  f1-score   support

           0       0.97      0.88      0.92      2078
           1       0.89      0.97      0.93      2074

    accuracy                           0.93      4152
   macro avg       0.93      0.93      0.93      4152
weighted avg       0.93      0.93      0.93      4152


K-Nearest Neighbors Classifier:
              precision    recall  f1-score   support

           0       0.81      0.95      0.88      2078
           1       0.94      0.78      0.85      2074

    accuracy                           0.86      4152
   macro avg       0.88      0.86      0.86      4152
weighted avg       0.88      0.86      0.86      4152


Multinomial Naive Bayes Classifier:
              precision    recall  f1-score   support

           0       0.75      0.86      0.80      2078
           1       0.84      0.71      0.77      2074

    accuracy                           0.79      4152
   macro avg       0.79      0.79      0.79      4152
weighted avg       0.79      0.79      0.79      4152

## Saving the best models:
1. SVM
2. Gradient Boosting

In [ ]:
#pip freeze> requirements.txt

In [252]:
import pickle

with open('Fake_News_Gensim_GB_Model.pkl', 'wb') as f:
    pickle.dump(classifier1, f)

with open('Fake_News_Gensim_SVM_Best_Model.pkl', 'wb') as f:
    pickle.dump(classifier3, f)